<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626127019480-lb1nfjsv46l7o7oldq5dj2qlla6kdqs3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626127019480-lb1nfjsv46l7o7oldq5dj2qlla6kdqs3</string>
	<key>API_KEY</key>
	<string>AIzaSyDpx2Nmth1ptG14i4qAn2eegMLRov_5oBU</string>
	<key>GCM_SENDER_ID</key>
	<string>626127019480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AGRESSV.AGRESSV</string>
	<key>PROJECT_ID</key>
	<string>agressv-3f3cd</string>
	<key>STORAGE_BUCKET</key>
	<string>agressv-3f3cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626127019480:ios:e9177278f6ae1e65da66ad</string>
</dict>
</plist>